[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
pyperclip = "*"
pyautogui = "*"
opencv-python = "*"
pillow = "*"
wget = "*"
pandas = "*"
pymongo = {extras = ["srv"], version = "*"}
httplib2 = "*"
apiclient = "*"
instabot = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
gunicorn = "*"
flask = "*"

[requires]
python_version = "3.8"
