[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
pyperclip = "*"
pyautogui = "*"
opencv-python = "*"
pillow = "*"
wget = "*"
pandas = "*"
pymongo = {extras = ["srv"], version = "*"}

[requires]
python_version = "3.8"
