<!DOCTYPE html>
<html>
    
    <head>
        <!--Title-->
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, intial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!--Title-->
        <title>Instagram Bot</title>

        <!--Favicon-->
        <link href="../static/epic.png" rel="icon">

        <!--Bootstrap Css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <!--Css file-->
        <link rel="stylesheet" href="../static/style.css">
        
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    
    </head>
    
    <body>
          <nav class="navbar navbar-expand-md fixed-top navbar-dark navvv" >
            <div class="container-fluid">
              <a class="navbar-brand navb" href="#"><img src="../static/epic.png" width="70px" height="70px"/> <p class="ep">Instagram Bot</p><p class="livee">Live<div class="circle red"></div></p></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class='bx bxs-navigation' style="font-size:30px"></i>
              </button>
              <div class="collapse navbar-collapse navHeaderCollapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  &nbsp; &nbsp;
                    
                </ul>
                 <div class="d-flex nach" style="background-color: black;">
                   <!--
                    <a class="nav-link" href="#Login">Login</a>
                   -->
                    <a class="nav-link" style="color:white" href="#DM">DM Followers</a>
                    <a class="nav-link" style="color:white" href="#Retrieve">Retrieve Message</a>
                    <a class="nav-link" style="color:white" href="#Share">Share Post</a>
                  </div> 
              </div>
            </div>
          </nav>

          <br><br>
        <div class="container logg">
              <a class="navbar-brand navb nd" href="#"><img src="../static/epic.png" width="170px" height="170px"/> </a>
              
          </div>

          
          <div class="container ">
              <div class="row selll">
                  <div class="col-12 col-md-3 fw-lighter">Selenium powered</div>
              </div>

              <div class="row inn">
                <div class="col-12 col-md-6">Instagram Bot</div>
            </div>

            <div class="row conn">
                <div class="col-12 col-md-7" >A multipurpose automated bot that can mass text users, receive messages, share posts and much more</div>
            </div>
          </div>

          <div class="container" style= "margin-top:100px;">
              <div class="row">
                  <div class="col-12 col-lg-4">
                    <div class="card blehh" style="border:none;">
                        <div class="card-body" style="background-color: black; ">
                          <h5 class="card-title">Multi-DM Followers</h5>
                          
                          <p class="card-text">This will DM all followers of our account.</p>
                          <a href="#DM" class="card-link">Take me there!</a>
                        </div>
                      </div>
                  </div>
                  

                  <div class="col-12 col-lg-4">
                    <div class="card blehh"  style="border:none;">
                        <div class="card-body" style="background-color: black;">
                          <h5 class="card-title">Retrieve Messages</h5>

                          <p class="card-text">This will retrieve all new message from our inbox.</p>
                          <a href="#Retrieve" class="card-link">Take me there!</a>
                        </div>
                      </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <div class="card  blehh"  style="border:none;" >
                        <div class="card-body" style="background-color: black; ">
                          <h5 class="card-title">Share Latest Post</h5>
                
                          <p class="card-text">This will analyze our latest post and send it to specific users</p>
                          <a href="#Share" class="card-link" >Take me there!</a>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
        
              <!-- <div class="container bl2"  id = "Login">
                <div class="ws-m-block-title-770">
                        <div class="row" >
                        <h6 style="text-align:center ; margin-top: 0px;" class="fw-lighter">InstagramBot</h6>
                        </div>
                        <div class="row">
                            <h2 style="text-align:center ; margin-top: 15px;">Login</h2>
                        </div>
                        <div class="row">
                            <h5 style="text-align:center ; margin-top: 15px; font-weight: 100;">Logging-in to Instagram is essential.<br>Give your Instagram username and password for logging-in.</h5>
                        </div>
                
                
  
                </div>
                <div class="fojo">
                    <form >
                        <label for="username" style="margin-top:40px">Userame</label><br>
                        <input style ="margin:auto; width:100%; height: 50px; padding-left: 1em;" id="username" name="username" placeholder="Enter your username" required="true" type="text" invalid="">
                        
                        <label for="password" style="margin-top:40px">Password</label><br>
                        <input style ="margin:auto; width:100%; border:1px solid #474545; height: 50px;  padding-left: 1em;" id="username" name="password" placeholder="Enter your password" required="true" type="password" invalid="">
                        
                        <div class="text-center">
                            <input name="login" id ="login" type="login" class="btn btn-primary text-center" style="margin-top:30px" value="Submit">
                        </div>
                    </form>
                </div>
                </div>  -->

                <div class="row" id = "DM" style=" background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../static/mes.jpg);background-size: cover; margin-top: 100px;">
                    <div class="col-12 col-lg-6" style="margin-top:100px">
                        <div class="container" style="padding-left: 4em;">
                        <h6 style="text-align:left; color:white;" class="fw-light"> Instagram Bot</h6>
                        <h4 style="text-align:left; font-size:50px; color:white;margin-top:30px"> DM  All</h4>
                        <h4 style="text-align:left; font-size:50px; color:white;">  Followers</h4><br>
                        <p style="text-align:left; font-size:20px; color:white;">This will DM the general message to all followers of your account</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5" style="margin-bottom:100px;">
                            <br>
        
                            <div style="margin:auto; width:100%; background-color: white; padding: 0px 30px 30px 30px; margin-top:80px">
                          
                               <form >
                                <label for="username" style="margin-top:40px; color:black">Userame</label><br>
                                <input style ="margin:auto; width:100%; height: 50px; padding-left: 1em;" id="username" name="username" placeholder="Enter your username" required="true" type="text" invalid="">
                                
                                <label for="password" style="margin-top:40px;color:black">Password</label><br>
                                <input style ="margin:auto; width:100%; border:1px solid #474545; height: 50px;  padding-left: 1em;" id="username" name="password" placeholder="Enter your password" required="true" type="password" invalid="">
                        
                                <label for="input-2" style="margin-top:40px; color:black">General Message</label><br>
                                <textarea  placeholder="Type your message" name="message" style="margin:auto; width:100%; height: 80px;"  required="true">
                                </textarea>
                                <div class="text-center">
                                    <input name="dm" value="Send" type="submit" class="btn btn-danger" style="margin-top:30px">
                                </div>
                                </form>
                            </div>   
                        </div>
                    
                </div>

                <div class="row" id = "Retrieve" style=" margin-top: 50px;">
                    <div class="col-12 col-lg-6" style="margin-top:90px">
                        <div class="container" style="padding-left: 4em;">
                        <h6 style="text-align:left; margin-top: 0px;" class="fw-light"> Instagram Bot</h6>
                        <h4 style="text-align:left; font-size:50px;;margin-top:30px"> Retrieve Message</h4>
                        <!-- <h4 style="text-align:left; font-size:50px; color:white;">  Followers</h4><br> -->
                        <p style="text-align:left; font-size:20px;margin-top: 40px; ">This function will retrieve all the latest messages from our inbox.</p>
                        <p style="color:white"><strong>MAKE SURE TO MAXIMIZE THE CHROMEDRIVER WINDOW</strong></p>
                        <p><strong>AFTER THAT, DON'T MOVE THE MOUSE UNTIL IT LOGS OUT</strong></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5" style="margin-bottom:80px;">
                            <br>
        
                            <div style="margin:auto; width:100%; background-color: white; padding: 0px 30px 30px 30px; margin-top:40px">
                          
                               <form >
                                <label for="username" style="margin-top:40px;color:black">Userame</label><br>
                                <input style ="margin:auto; width:100%; height: 50px; padding-left: 1em;" id="username" name="username" placeholder="Enter your username" required="true" type="text" invalid="">
                                
                                <label for="password" style="margin-top:40px; color:black">Password</label><br>
                                <input style ="margin:auto; width:100%; border:1px solid #474545; height: 50px;  padding-left: 1em;" id="username" name="password" placeholder="Enter your password" required="true" type="password" invalid="">
                        
                                <!-- <label for="input-2" style="margin-top:40px">General Message</label><br>
                                <textarea name="message" style="margin:auto; width:100%; height: 80px;"  required="true" >
                                </textarea> -->
                                
                                <div class="text-center">
                                    <input name="retrieve" type="submit" style="margin-top:40px" id = "retrieve" value="Retrieve" class="btn btn-danger">
                                </div>
                                </form>
                            </div>           
                    </div>
                </div>

                <!-- <div > 
                <div class="row" id = "Retrieve">
                    <h2 style="text-align:center ; margin-top: 105px;">Retrieve Message</h2>
                </div>

                <div class="row chhhh">
                    <p style="text-align: center;">This function will retrieve all the latest message from our inbox</p>
                    
                    
                </div>

                <div class="row" style="font-size:20px; margin-top:20px; ">
                    <div class="col-12 col-md-3"></div>
                    <div class="col-12 col-md-6 text-center" style="text-align: center;">
                        <input name="retrieve" type="submit" id = "retrieve" value="Retrieve" class="btn btn-primary">
                    </div>
                    <div class="col-12 col-md-3"></div>
                    
                </div>
            </div> -->

            <div class="row" id = "Share" style=" background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../static/backcon.jpg);background-size: cover; margin-top: 100px; margin-bottom: 50px;">
                <div class="col-12 col-lg-6" style="margin-top:120px">
                    <div class="container" style="padding-left: 4em;">
                    <h6 style="text-align:left; color:white;" class="fw-light"> Instagram Bot</h6>
                    <h4 style="text-align:left; font-size:50px; color:white;margin-top:30px"> Share Latest Post</h4>
                    <p style="text-align:left; font-size:20px; color:white;margin-top: 40px;">This function will do a Caption analysis of our latest post and then send it to selected people.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-5" style="margin-bottom:120px;">
                        <br>
    
                        <div style="margin:auto; width:100%; background-color: white; padding: 0px 30px 30px 30px; margin-top:80px">
                      
                           <form >
                            <label for="username" style="margin-top:40px; color:black">Userame</label><br>
                            <input style ="margin:auto; width:100%; height: 50px; padding-left: 1em;" id="username" name="username" placeholder="Enter your username" required="true" type="text" invalid="">
                            
                            <label for="password" style="margin-top:40px; color:black">Password</label><br>
                            <input style ="margin:auto; width:100%; border:1px solid #474545; height: 50px;  padding-left: 1em;" id="username" name="password" placeholder="Enter your password" required="true" type="password" invalid="">
                    
                            <!-- <label for="input-2" style="margin-top:40px">General Message</label><br>
                            <textarea name="message" style="margin:auto; width:100%; height: 80px;"  required="true" >
                            </textarea> -->
                            <div class="text-center">
                                <input name="share" value="Share" type="submit" id="share" class="btn btn-danger" style="margin-top:30px">
                            </div>
                            </form>
                        </div>   
                    </div>
                </div>                    

                   
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3" style="margin-top: 80px;"></div>
                        <div class="col-12 col-md-6" style="text-align:center ;">
                            <img src="../static/epic.png" width="200px" height="200px">
                            <p style="margin-top:20px">© 2021 InstagramBot by Abhilash Datta</p>
                        </div>
                        <div class="col-12 col-md-3"></div>
                    </div>
                </div>


          </div>

        
         <!--Script file-->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        
    </body>
</html>
